div {
    display: block;
}

.global-container {
    width: 1200px !important;
    margin: 0 auto;
    position: fixed;
    zoom: 1;
    left: 0;
    top: 2.5rem;

    .content {
        margin: 0;
        outline: none;
        padding: 0;
        width: auto;
    }

    ._2ht {
        padding-top: 12px;
    }

    .composer-header {
        padding: 8px 0;
        background-color: #f6f7f9;
        border-bottom: 1px solid #dddfe2;
        border-radius: 2px 2px 0 0;
        font-weight: bold;
    }

    ._4-fs {
        display: inline-block;
        padding-left: 21px;
        position: relative;
    }

    ._5qtp {
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        line-height: 14px;
        color: #4b4f56;
    }

    ._4qba {
        font-style: normal;
    }

    ._5qtp {
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        line-height: 14px;
    }

    ._q-v {
        margin: 12px 0 0 12px;
    }

    ._4b17 {
        word-wrap: break-word;
        float: left;
        min-height: 1px;
    }

    ._4b19 {
        overflow: hidden;
        word-wrap: break-word;
    }

    .composer-footer-line {
        margin-bottom: 8px;
        border-top: 1px solid #e9ebee;
        margin: -12px 0 12px 0;
    }

    ._5xmp {
        margin-right: 6px;
        display: inline-block;
    }
}

.main-container {
    display: block;
    width: 100%;
    margin-top: 20px;
    position: fixed;
}