        .composer-header-menu {
            background-color: #f6f7f9;
            border-left: 1px solid #ced0d4;
            color: #365899;
            padding: 0 4px;
            position: relative;

            .uiIconText {
                display: inline-block;
                padding-left: 5px;
                position: relative;
                left: 0;
            }

            .shape {
                display: block;
                border-bottom: 9px solid #fff;
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                font-size: 0;
                height: 0;
                left: 50%;
                line-height: 0;
                position: absolute;
                width: 0;
            }

            

            .header-padding {
                display: inline;
                padding: 4px 6px 4px 4px;
            }
        }

        .composer-header-menu:first-child {
            border-left: none;
            padding-right: 8px;
            padding-left: 8px;
        }