.root {
    background-color: $oc-gray-2;
    margin: 0;
    font-family: 'Noto Sans KR', 'NanumGothic', sans-serif;
}

body {
    background: $oc-gray-2;
    line-height: 1.34;
    margin: 0;
    padding: 0;
}

html {
  box-sizing: border-box;
}

a {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
}