{% extends "blog/layout.html" %}

{% block extra_head %}
    <style>
        body {
            padding-top: 30px;
        }
        #columns {
            column-width: 230px;
            column-gap: 15px;
            width: 90%;
            max-width: 1100px;
            margin: 50px auto;
        }
        #columns figure {
            background: #fefefe;
            padding-bottom: 10px;
            transition: opacity .4s ease-in-out;
            display: inline-block;
        }
        #columns figure img {
            width: 100%; height: auto;
            margin-bottom: 5px;
        }
        @media screen and (max-width: 750px) { 
            #columns { column-gap: 0px; }
            #columns figure { width: 100%; }
        }
        .auth-form {
            float: right;
        }
        .auth-form a {
            padding-left: 2rem;
        }
    </style>
{% endblock extra_head %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">KGSH SNS</h1>
                <div class="auth-form">
                    <a>로그인</a>
                    <a>로그아웃</a>
                </div>
                <div>
                    <h3>게임고에서 일어나는 사진들을 올려보세요</h3>
                    <h4>수치스러운 사진을 올려도 됩니다.</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="columns">
                {% for post in post_list %}
                    <figure>
                        <img src="{{ post.photo.url }}">
                    </figure>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}