    .right-con {
        float: left;
        padding: 0 !important;
        word-wrap: break-word;
        margin-left: 0 !important;
        left: 512px;
        width: 300px !important;
        position: relative;
    }